<!DOCTYPE html>
<html>
  <head>
  {% include head.html %}
  {% seo %}
  <meta name="naver-site-verification" content="fefd3fdb35fc023c7d9d458d64e1378392d70653"/>
  </head>
  <body>
    {% include nav.html %}

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include footer.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
